//import das variaveis das cores
@import './cores';
//import das variaveis das fontes
@import './fonts';
//Import do scss do Header.
@import './header';
//Import do scss dos dropdowns menu
@import './menu';
//Import do scss do modal carrinho
@import './modal-carrinho';
//Import do scss do produto
@import './produto';
//Import do scss do produto
@import './prateleira';
//Import do scss do Rodapé
@import './rodape';

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham-book.otf");
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham-bold.otf");
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}
*{
  font-family: $font-open;
}