.menu-mobile{
    width: 100%;
    height: 100%;
    align-items: center;
    .menu-mobile__botao{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $cor-cinza;
        .img{
            //nada
        }
        i{
            color: $cor-main;
            cursor: pointer;
            margin: 0 9px;
        }
    }
    .menu-mobile__signin-signout{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a{
            color: $cor-main;
            margin: 0 5px;
            font-size: 15px;
        }
    }
    .mobile__dd{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
                border-top: 0.5px solid $cor-cinza;
                border-bottom: 0.5px solid $cor-cinza;
                list-style-type: none;
                color: $cor-main;
                text-transform: uppercase;
                
            }
        }
    }
    
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.header{
    display: none;
    @media screen and (min-width: 1200px) {
        display: initial;
    }
}
.header__logo{
    img{
        margin-top: 26px;
        margin-bottom: 26px;
    }
}
.header__nav-bar{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 50px;
    .row{
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .header__nav-bar__nav{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        li{
            height: 100%;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                color: $cor-cinza-escuro;
                font-family: $font-batman-book;
                text-transform: uppercase;
                font-size: 14px;
                width: 100%;
                height: 100%;
                cursor: pointer;
                &:hover{
                    background-color: $cor-cinza-tamanho;
                }
            }  
        }
    }
    .header__nav-bar__signin-signup{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: $cor-cinza-escuro;
        }
        span{
            margin: 0 9px;
        }
    }
}
.header, .header__logo, .header__nav-bar{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: none;
}

.col-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .coluna-search{
        display: flex;
        flex-direction: row;
        padding: 0;
        .__busca{
            background: #fff
            url('../img/nav-menu/search.png') no-repeat 9px center;
            width: 83px;
            text-indent: 30px;
            border: none;
            border-bottom: 2px solid gray;
            padding: 0;
            transition: all .5s ease;
            &:focus{
                width: 130px;
            }
        }
        .cart{
            display: flex;
            flex-direction: row;
        }
    }
}
