.modal-carrinho{
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
        background: $cor-main; 
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $cor-lilas; 
    }
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow: auto;
    width: 525px;
    height: 700px;
    background-color: #fff;

    .modal__header{
        position: relative;
        .close-cart{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background-color: $cor-lilas;
            border: none;
            color: #fff;
            cursor: pointer;
        }
        .modal__header__titulo{
            padding: 40px 40px 10px 40px;
            h4{
                text-transform: uppercase;
                color: $cor-main;
                font-family: $font-batman-book;
                margin:0;
                
            }
            span{
                color: $cor-cinza;
            }
        }
    }
    .linha{
        width: 446px;
        margin: auto;
        margin-bottom: 20px;
        border-top: 1px solid #E3E3E3;
    }
    .modal__main{
        width: 486px;
        height: 390px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 20px 20px;
        ul{
            li{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                height: 80px;
                margin: 7px 0;
                align-items: center;
                img{
                    margin: 0 10px;
                }
                .produto{
                    display: flex;
                    flex-direction: column;
                    margin: 0 10px;
                    .nome-produto{
                        font-size: 12px;
                    }
                    .preco-produto{
                        font-family: Montserrat;
                        font-weight: bold;
                    }
                }
                .menos{
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    border: none;
                    background-color: #E3E3E3;
                    width: 44px;
                    height: 32px;
                    color: #fff;
                }
                .contador{
                    border: 1px solid #E3E3E3;
                    width: 48px;
                    height: 32px;
                    text-align: center;
                }
                .mais{
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    border: none;
                    background-color: #E3E3E3;
                    width: 44px;
                    height: 32px;
                    color: #fff;
                }
                .x{
                    margin: 0 0 0 20px;
                }
            }
        }
    }
    .modal__footer{
        margin-top: 10px;
        .modal__footer__frete{
            height: 50px;
            background-color: $cor-cinza;
            display: flex;
            justify-content: center;
            align-items: center;
            .restante{
                color: #fff;
                padding: 0 0 0 80px;
                .gratis{
                    color: #fff;
                    font-family: Montserrat;
                    font-weight: bold;
                    padding: 0 100px 0 0px;
                }
            }
        }
        .modal__footer__finalizar{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
            .preco-total{
                display: flex;
                flex-direction: column;
                .total{
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: bold;
                }
                .parcela{
                    font-family: Montserrat;
                    font-size: 12px;
                }
            }
            .finalizar{
                background-color: $cor-verde;
                border: none;
                color: #fff;
                text-transform: uppercase;
                width: 195px;
                height: 42px;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
    
}