$cor-main: #DE8F75;
$cor-verde: #32917B;
$cor-cinza: #AEB6C1;
$cor-cinza-escuro: #686868;
$cor-lilas: #5F75AA;
$cor-ervilha: #E0DA9C;
$cor-azul-escuro: #2A5A75;
$cor-cinza-tamanho: #EBEBEB;
$cor-verde-claro: #D2E1DF;
$cor-vermelho-preco: #E35442;